@font-face {
    font-family: 'Special Elite';
    src: url('SpecialElite-Regular.eot');
    src: url('SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpecialElite-Regular.woff2') format('woff2'),
        url('SpecialElite-Regular.woff') format('woff'),
        url('SpecialElite-Regular.ttf') format('truetype'),
        url('SpecialElite-Regular.svg#SpecialElite-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

