.wrap-collabsible {
  margin-bottom: auto;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
//  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 1em 0.1em;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.5s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  font-size: 0.85em;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
//  background: rgba(250, 224, 66, .2);
//  border-bottom: 1px solid rgba(250, 224, 66, .45);
//  border-bottom-left-radius: 7px;
//  border-bottom-right-radius: 7px;
  padding: .01em 1rem .5em;
}