///* eb-garamond-regular - latin */
//@font-face {
//  font-family: 'Special Elite';
//  font-style: normal;
//  font-weight: 400;
//  font-display: auto;
//  src: url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.eot'); /* IE9 Compat Modes */
//  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
//       url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//       url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
//       url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//       url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
//}


@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('#{$asset_url}/fonts/SpecialElite-Regular.eot');
    src: url('#{$asset_url}/fonts/SpecialElite-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$asset_url}/fonts/SpecialElite-Regular.woff2') format('woff2'),
        url('#{$asset_url}/fonts/SpecialElite-Regular.woff') format('woff'),
        url('#{$asset_url}/fonts/SpecialElite-Regular.ttf') format('truetype'),
        url('#{$asset_url}/fonts/SpecialElite-Regular.svg#SpecialElite-Regular') format('svg');
}