.footnote {
//  border: 1px solid $muted-text-color;
//  border-radius: 1em;
//  color: $text-color;
//  display: inline;
  font-size: .5em;
  font-weight: 700;
  padding: 0 .35em;
//  text-decoration: none;
//  margin: 0 .25em;
  vertical-align: super;
  &:hover,
  &:focus {
    background: $brand-color;
    border-color: $brand-color;
  }
}

.footnotes::before {
  content: '';
  margin: 1em;
//  @include divider;
//  margin: 4em auto;
}

.footnotes {
  margin-top: 2em;
  margin-bottom: 1em;
}

.footnotes li {
//  margin-bottom: 1em;
  font-size: 0.65em;
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}